@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("../imgs/pexels-slendyalex-3745234.jpg") center center
    no-repeat;
  background-size: cover;
  color: #d6d6d6;
  font-family: "MaPolice";
}
svg {
  width: 15px;
}
.section {
  padding: 70px 0;
}

@font-face {
  font-family: "MaPolice";
  src: url("./fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype"); /* Mets le bon chemin et format de la police */
  /*font-weight: normal; Ou `bold` si tu as différentes variantes */
  /*font-style: normal;  Change si tu utilises `italic` ou autre */
}
.section-container {
  padding: 0 16px;
  margin: 0 auto;
}
.section_title {
  font-size: 30px;
  font-weight: 900;
  border-bottom: 1px solid;
  margin-bottom: 20px;
  color: white;
}
.section_sub {
  font-size: 20px;
}
@screen sm {
  .section {
    padding: 90px 0;
  }
  .section-container {
    padding: 0 20px;
  }
}
@screen md {
  .section {
    padding: 100px 0;
  }
  .section-container {
    padding: 0 30px;
  }
}
